openapi: 3.2.0
info:
  title: Feedly Contents API
  version: '1.0'
  description: 'Operations tagged Contents across 3 of this provider''s published API definitions: feedly-memes-openapi.yml, feedly-search-openapi.yml, feedly-streams-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.feedly.com/v3/memes
- url: https://api.feedly.com/v3/search/
- url: https://api.feedly.com/v3/streams/
security:
- sec0: []
tags:
- name: Contents
paths:
  /contents/{memeId}:
    get:
      summary: Trend analysis card
      description: ''
      operationId: trend-analysis-card
      parameters:
      - name: memeId
        in: path
        description: id of the topic (must be properly url encoded)
        schema:
          type: string
          default: topic/vulnerabilities/meme/03c57394-3333-11ef-8856-bafbaebb0ef6
        required: true
      - name: count
        in: query
        description: number of articles returned in the API call
        schema:
          type: string
          default: '20'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Contents
    servers:
    - url: https://api.feedly.com/v3/memes
  /contents?:
    post:
      summary: Search
      description: ''
      operationId: search
      parameters:
      - name: count
        in: query
        description: Integer number of articles to return. default is 10. (optional)
        schema:
          type: integer
          format: int32
          default: 10
      - name: newerThan
        in: query
        description: Long timestamp in ms (optional)
        schema:
          type: integer
          format: int32
      - name: olderThan
        in: query
        description: Long timestamp in ms (optional)
        schema:
          type: integer
          format: int32
      - name: unreadOnly
        in: query
        description: 'Boolean if true, only unread articles will be returned; default is false. Reminder: entries older than 31 days are automatically marked as read (optional)'
        schema:
          type: boolean
      - name: continuation
        in: query
        description: String a continuation id is used to page through the content. Pass the continuation from a search result to get the next set of results for this search (optional)
        schema:
          type: string
      - name: includeAiActions
        in: query
        schema:
          type: boolean
          default: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - RAW_BODY
              properties:
                RAW_BODY:
                  type: string
                  description: JSON formatted body with layers, salience, and source/streams
                  default: '{"layers":[{"severities":["HIGH"],"type":"security"},{"parts":[{"id":"nlp/f/entity/gz:org:microsoft"}],"type":"matches","salience":"about"},{"type":"language","languages":["en"]}],"source":{"items":[{"type":"publicationBucket","id":"byf:cybersecurity-bundle","tier":"tier1"},{"type":"publicationBucket","id":"cybersecurity:vulnerabilities","tier":"tier2"}]}}'
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"errorCode\": 400,\n  \"requestId\": \"835133063819c36c-SEA\",\n  \"errorMessage\": \"Invalid JSON\"\n}"
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                    example: 400
                    default: 0
                  requestId:
                    type: string
                    example: 835133063819c36c-SEA
                  errorMessage:
                    type: string
                    example: Invalid JSON
      deprecated: false
      tags:
      - Contents
    get:
      summary: Collect articles from streamId
      description: ''
      operationId: collect-articles
      parameters:
      - name: streamID
        in: query
        description: The id of the stream you want to access. Make sure that you are URI encoding the streamId
        required: true
        schema:
          type: string
      - name: count
        in: query
        description: The number of articles/entries to return. Pick a number between 1 and 100 (optional, default is 20)
        schema:
          type: string
          default: '20'
      - name: newerThan
        in: query
        description: Long timestamp in ms representing the time of your previous call (in Unix/Epoch). Cannot be older than 31 days ago. (optional)
        schema:
          type: string
      - name: olderThan
        in: query
        description: Long timestamp in ms representing the time of your previous call (in Unix/Epoch). (optional)
        schema:
          type: string
      - name: continuation
        in: query
        description: An id is used to page through the articles. The continuation id will be returned as part of each call response. This is useful if you want to fetch more articles than the count = 100 limit (optional)
        schema:
          type: string
      - name: includeAiActions
        in: query
        description: if true, AI Actions from articles will be returned.
        schema:
          type: boolean
          default: true
      - name: similar
        in: query
        description: if true, numRelatedEntries will be returned
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: ' {"errorMessage":"Invalid JSON", "errorId":"xyz.2018021111.12345"}'
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                    example: Invalid JSON
                  errorId:
                    type: string
                    example: xyz.2018021111.12345
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"errorCode\": 401,\n  \"requestId\": \"853eb1877eebc529-SEA\",\n  \"errorMessage\": \"must provide authorization token\"\n}"
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                    example: 401
                    default: 0
                  requestId:
                    type: string
                    example: 853eb1877eebc529-SEA
                  errorMessage:
                    type: string
                    example: must provide authorization token
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"errorCode\": 403,\n  \"requestId\": \"854333815f54c4d4-SEA\",\n  \"errorMessage\": \"unauthorized access: enterprise collection\"\n}"
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                    example: 403
                    default: 0
                  requestId:
                    type: string
                    example: 854333815f54c4d4-SEA
                  errorMessage:
                    type: string
                    example: 'unauthorized access: enterprise collection'
      deprecated: false
      tags:
      - Contents
    servers:
    - url: https://api.feedly.com/v3/search/
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
x-refined-from:
- feedly-memes-openapi.yml
- feedly-search-openapi.yml
- feedly-streams-openapi.yml
x-readme:
  explorer-enabled: true
  proxy-enabled: true
