openapi: 3.2.0
info:
  title: ML Endpoint Insight Cards API
  version: '1.0'
servers:
- url: https://api.feedly.com/v3/ml
security:
- sec0: []
tags:
- name: Insight Cards
paths:
  /insight-cards/key-data-points:
    get:
      summary: Key Metrics
      description: Retrieve key metrics points for a company
      operationId: key-metrics
      parameters:
      - name: resourceId
        in: query
        description: resourceId (must be URL encoded)
        required: true
        schema:
          type: string
          default: nlp%2Ff%2Fentity%2Fgz%3Aorg%3Aopenai
      - name: lastNDays
        in: query
        description: 'Last number of days (IE: 365)'
        required: true
        schema:
          type: integer
          format: int32
          default: 365
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Insight Cards
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
