openapi: 3.2.0
info:
  title: ML Endpoint Ner Gazetteer API
  version: '1.0'
servers:
- url: https://api.feedly.com/v3/ml
security:
- sec0: []
tags:
- name: Ner Gazetteer
paths:
  /ner-gazetteer/resource-count:
    post:
      summary: Resource Counts
      description: Get resource count data for a company
      operationId: resource-counts
      parameters:
      - name: intervalType
        in: query
        required: true
        schema:
          type: string
          default: LAST_7_DAYS
      - name: requestType
        in: query
        required: true
        schema:
          type: string
          default: insightCard
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - RAW_BODY
              properties:
                RAW_BODY:
                  type: string
                  default: '{"searchLayers":[{"parts":[{"id":"nlp/f/entity/gz:org:openai"}],"salience":"about","type":"matches"}]}'
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Ner Gazetteer
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
