openapi: 3.2.0
info:
  title: Trends Ttp Dashboard API
  version: '1.0'
servers:
- url: https://api.feedly.com/v3/trends/
security:
- sec0: []
tags:
- name: Ttp Dashboard
paths:
  /ttp-dashboard:
    post:
      summary: List TTPs from TTP Agent
      description: ''
      operationId: list-ttps
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - RAW_BODY
              properties:
                RAW_BODY:
                  type: string
                  description: 'Body of the request: the JSON query you obtained in step 2'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Ttp Dashboard
  /ttp-dashboard/entries?ttpId={ttpId}:
    post:
      summary: Collect Procedures and articles from the TTP Agent
      description: ''
      operationId: collect-procedures
      parameters:
      - name: ttpId
        in: path
        description: ttpId taken from step 1 in this guide
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - RAW_BODY
              properties:
                RAW_BODY:
                  type: string
                  description: The JSON Body you acquire in step 2 from this guide.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Ttp Dashboard
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
