openapi: 3.2.0
info:
  title: ML Endpoint Relationships API
  version: '1.0'
servers:
- url: https://api.feedly.com/v3/ml
security:
- sec0: []
tags:
- name: Relationships
paths:
  /relationships/malware/{malwareId}:
    get:
      summary: Get Malware Relationships
      description: ''
      operationId: get-malware-relationships
      parameters:
      - name: malwareId
        in: path
        description: ID of malware family
        schema:
          type: string
          default: nlp/f/entity/gz:mal:fd035735-1ab9-419d-a94c-d560612e970b
        required: true
      - name: intervalType
        in: query
        description: See table below for possible intervalType values
        required: true
        schema:
          type: string
          default: LAST_7_DAYS
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Relationships
  /relationships/actor/{threatActorId}:
    get:
      summary: Get Threat Actor Relationships
      description: Retrieves relationship information (such as IoCs or TTPs) for a specific threat actor.
      operationId: get-threat-actor-relationships
      parameters:
      - name: threatActorId
        in: path
        description: The ID of the threat actor (URL encoded)
        schema:
          type: string
        required: true
      - name: intervalType
        in: query
        description: The time interval for the relationships (e.g., 'FOREVER')
        required: true
        schema:
          type: string
          default: FOREVER
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Relationships
  /relationships/cyber-attacks/dashboard/table:
    post:
      summary: Get Cyberattacks Agent
      description: The Cyberattacks Agent API provides access to structured cyber attack data, allowing you to query, filter, and analyze security incidents across different time periods, regions, and attack types.
      operationId: get-cyber-attacks-agent
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - RAW_BODY
              properties:
                RAW_BODY:
                  type: string
                  description: Paste the generated JSON from your query from the the [Cyberattacks Agent](https://feedly.com/i/dashboard/cyberAttack)
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Relationships
  /relationships/cyber-attacks/dashboard/stats:
    post:
      summary: Get Cyberattacks Statistics
      description: Retrieve aggregated statistics and trends for cyber attacks based on your query filters. This endpoint provides statistical breakdowns by attack type, victim country, victim industry, and other dimensions.
      operationId: get-cyber-attacks-statistics
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                RAW_BODY:
                  type: string
                  description: Paste the generated JSON from your query from the the [Cyberattacks Agent](https://feedly.com/i/dashboard/cyberAttack)
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Relationships
  /relationships/cyber-attacks/{resourceId}:
    get:
      summary: Get Individual Cyberattack Details
      description: Retrieve comprehensive details about a specific cyberattack, including timeline events, related entities, source articles, and mention trends over time.
      operationId: get-individual-cyber-attack-details
      parameters:
      - name: resourceId
        in: path
        description: Unique identifier for the cyber attack (URL-encoded)
        schema:
          type: string
          default: nlp%2Ff%2FcyberAttack%2Faf0591a6-a2a4-4db9-9ddb-b3586182c04b
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Relationships
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
