openapi: 3.2.0
info:
  title: Entities API
  version: '1.0'
servers:
- url: https://api.feedly.com/v3/entities
security:
- sec0: []
tags:
- name: Entities API
paths:
  /{CVEID}:
    get:
      summary: Get CVE Metadata with or without Articles
      description: Research critical vulnerabilities with the CVE Insights Card
      operationId: cve-insights-card
      parameters:
      - name: withStats
        in: query
        description: You can add a parameter query withStats=true to the previous endpoint to get access to the References and Chatter articles. The previous data will also be included.
        schema:
          type: boolean
      - name: CVEID
        in: path
        schema:
          type: string
          default: CVE-2021-26084
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Entities API
  /{malwareId}:
    get:
      summary: Get Malware Metadata
      description: A GET request to the following endpoint can retrieve some of the meta-data contained in the Malware Insights Card, including the `description`,  `label`, `aliases`, `malware type`and more.
      operationId: get-malware-metadata
      parameters:
      - name: malwareId
        in: path
        description: ID of the malware family
        schema:
          type: string
          default: nlp/f/entity/gz:mal:fd035735-1ab9-419d-a94c-d560612e970b
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Entities API
  /{entityId}:
    get:
      summary: Entity Lookup
      description: ''
      operationId: entity-lookup
      parameters:
      - name: entityId
        in: path
        description: (Must be URL encoded)
        schema:
          type: string
          default: nlp%2Ff%2Fentity%2Fgz%3Aorg%3Aapple
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Entities API
  /{threatActorId}:
    get:
      summary: Get Threat Actor Metadata
      description: Retrieves metadata and details about a specific threat actor.
      operationId: get-threat-actor-metadata
      parameters:
      - name: threatActorId
        in: path
        description: The ID of the threat actor (URL encoded)
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Entities API
  /{resourceId}:
    get:
      summary: Metadata
      description: Retrieves metadata and details about a specific company
      operationId: company-metadata
      parameters:
      - name: resourceId
        in: path
        description: The resourceId of the company (must be URL encoded)
        schema:
          type: string
          default: nlp%2Ff%2Fentity%2Fgz%3Aorg%3Aopenai
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Entities API
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
