openapi: 3.2.0
info:
  title: Enterprise Triggers API
  version: '1.0'
servers:
- url: https://api.feedly.com/v3/enterprise
security:
- sec0: []
tags:
- name: Triggers
paths:
  /triggers:
    get:
      summary: Get the List of Webhooks
      description: ''
      operationId: get-the-list-of-webhooks
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Triggers
    post:
      summary: Create or Update a Webhook
      description: ''
      operationId: create-or-update-a-webhook
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - RAW_BODY
              properties:
                RAW_BODY:
                  type: string
                  description: JSON input as covered in the guide
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Triggers
  /triggers/:{triggerid}:
    delete:
      summary: Delete a Webhook
      description: ''
      operationId: delete-a-webhook
      parameters:
      - name: triggerid
        in: path
        description: id of the webhook you want to delete
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Triggers
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
