openapi: 3.2.0
info:
  title: Get Intel Profiles Entity Lists API
  description: 'API for Feedly Enterprise features including Entity Lists — curated collections of named entities (companies, technologies, threat actors, etc.) used to scope and filter intelligence feeds across your organization.

    '
  version: '3.0'
  contact:
    name: Feedly Support
    url: https://feedly.com
servers:
- url: https://api.feedly.com/v3
  description: Feedly Production API
security:
- BearerAuth: []
tags:
- name: Entity Lists
  description: Manage and retrieve enterprise entity lists
paths:
  /enterprise/entityLists:
    get:
      operationId: getEntityLists
      summary: Get Intel Profile data
      description: 'Returns all intel profiles associated with the authenticated enterprise account. When `details=true` is passed, each list includes its full entity membership. Entity lists group named entities (companies, technologies, threat actors, custom text terms) that can be used to scope and filter intelligence feeds.


        Entity members may be resolved Feedly entities (returned with an `id`) or unresolved custom text strings (returned with a `text` field only).

        '
      tags:
      - Entity Lists
      parameters:
      - name: details
        in: query
        required: false
        description: 'When `true`, each entity list object includes the full `entities` array with all member IDs and text values. When omitted or `false`, the `entities` array is empty or absent.

          '
        schema:
          type: boolean
          default: false
        example: true
      security:
      - BearerAuth: []
      responses:
        '200':
          description: 'An array of entity list objects for the enterprise account. Returns all lists when `details=true`, each fully populated with its entity membership.

            '
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json;charset=UTF-8
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EntityList'
              example:
              - label: A1 Customers
                id: nlp/f/entity/cl:christeam:A1Customers-lr7vjf
                type: customTopic
                description: adope, Adobe, Apple, Microsoft, Microsoft Azure
                createdBy: 7b966855-c953-4ec8-b271-cf554996c1ab
                created: 1679494776618
                inferredType: org
                entities:
                - text: adope
                - id: nlp/f/entity/gz:org:adobe
                - id: nlp/f/entity/gz:org:apple
                - id: nlp/f/entity/gz:org:microsoft
                - id: nlp/f/entity/gz:org:microsoft-azure
              - label: ACME Tech Stack
                id: nlp/f/entity/cl:christeam:ACMETechStack-yzg276
                type: customTopic
                description: Adobe, Apple, Cisco, Fortinet, Google, Google Chrome, Mandiant, Microsoft, UXLINK, Log4j
                createdBy: 31b26dc3-6b98-4192-b906-89aa8952fe47
                created: 1750963550938
                inferredType: org
                updated: 1774032310459
                updatedBy: d7fa6923-61da-4f14-abc2-4871d985bb30
                entities:
                - id: nlp/f/entity/gz:org:adobe
                - id: nlp/f/entity/gz:org:apple
                - id: nlp/f/entity/gz:org:cisco-systems
                - id: nlp/f/entity/gz:org:fortinet
                - id: nlp/f/entity/gz:org:google
                - id: nlp/f/entity/gz:org:mandiant
                - id: nlp/f/entity/gz:org:microsoft
                - id: nlp/f/entity/gz:org:log4j
        '400':
          description: Bad request — invalid query parameter value.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errorCode: 400
                message: Invalid value for parameter 'details'. Expected boolean.
        '401':
          description: 'Unauthorized — the Bearer token is missing, expired, or invalid.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errorCode: 401
                message: Unauthorized. Please provide a valid Bearer token.
        '403':
          description: 'Forbidden — the authenticated user does not have enterprise access or lacks permission to view entity lists.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errorCode: 403
                message: Access denied. Enterprise subscription required.
        '429':
          description: Rate limit exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errorCode: 429
                message: Too many requests. Please slow down.
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    EntityMember:
      type: object
      description: "A member of an entity list. Members are one of two forms:\n- **Resolved entity**: has an `id` pointing to a known Feedly entity\n  (e.g., `nlp/f/entity/gz:org:microsoft`). These are matched against\n  Feedly's knowledge graph.\n\n- **Custom text term**: has only a `text` field. These are free-text strings\n  that do not resolve to a known entity but are still tracked as keywords.\n\nExactly one of `id` or `text` will be present on each member object.\n"
      properties:
        id:
          type: string
          description: 'Feedly entity identifier. Format: `nlp/f/entity/gz:{type}:{slug}`. Present when the member is a resolved entity in Feedly''s knowledge graph.

            '
          example: nlp/f/entity/gz:org:microsoft
        text:
          type: string
          description: 'Raw custom text string. Present when the member is an unresolved or user-defined term that does not map to a known Feedly entity.

            '
          example: adope
    ErrorResponse:
      type: object
      properties:
        errorCode:
          type: integer
          description: HTTP status code echoed in the response body.
          example: 401
        message:
          type: string
          description: Human-readable description of the error.
          example: Unauthorized. Please provide a valid Bearer token.
    EntityList:
      type: object
      description: 'A named collection of entities used to scope monitoring within Feedly Enterprise. Lists always have type `customTopic` and contain a mix of resolved Feedly entities (with `id`) and unresolved custom text terms (with `text` only).

        '
      required:
      - id
      - label
      - type
      - description
      - createdBy
      - created
      - entities
      properties:
        id:
          type: string
          description: 'Unique identifier for the entity list. Follows the pattern `nlp/f/entity/cl:{teamId}:{label}-{shortHash}`.

            '
          example: nlp/f/entity/cl:christeam:A1Customers-lr7vjf
        label:
          type: string
          description: Human-readable name for the entity list, as set by the creator.
          example: A1 Customers
        type:
          type: string
          description: 'The list type. Always `customTopic` for enterprise entity lists created via the Feedly UI or API.

            '
          enum:
          - customTopic
          example: customTopic
        description:
          type: string
          description: 'Auto-generated comma-separated summary of the entity labels contained in the list. Truncated for large lists.

            '
          example: Adobe, Apple, Cisco, Fortinet, Google
        createdBy:
          type: string
          format: uuid
          description: UUID of the Feedly user who created this entity list.
          example: 7b966855-c953-4ec8-b271-cf554996c1ab
        created:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds when the list was created.
          example: 1679494776618
        inferredType:
          type: string
          description: 'The dominant entity category inferred from the list''s members. Common values include `org`, `tech`, `person`, `malware`, `vulnerability`. Present in most lists; may be absent if the list is empty or type cannot be determined.

            '
          example: org
        updated:
          type: integer
          format: int64
          description: 'Unix timestamp in milliseconds when the list was last modified. Only present if the list has been edited after initial creation.

            '
          example: 1774032310459
        updatedBy:
          type: string
          format: uuid
          description: 'UUID of the Feedly user who last modified this entity list. Only present alongside `updated`.

            '
          example: d7fa6923-61da-4f14-abc2-4871d985bb30
        entities:
          type: array
          description: 'The members of this entity list. Each member is either a resolved Feedly entity (has an `id`) or an unresolved custom text term (has a `text` field only). Only populated when the request is made with `details=true`.

            '
          items:
            $ref: '#/components/schemas/EntityMember'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Feedly personal access token. Pass as `Authorization: Bearer <token>`. Tokens can be generated from your Feedly account settings or provisioned by your Feedly Enterprise admin.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
