openapi: 3.2.0
info:
  title: Enterprise Ioc? API
  version: '1.0'
servers:
- url: https://api.feedly.com/v3/enterprise
security:
- sec0: []
tags:
- name: Ioc?
paths:
  /ioc?/streamid=:
    get:
      summary: Collect IoCs with rich context
      description: This guide contains a step-by-step guide for exporting all IoCs referenced in articles contained within a Feedly AI Feed, Folder, or Board using the Feedly API. The article will show how to access the Feedly Enterprise API token, and the stream ID as well as show examples of the API output using the Postman API platform.
      operationId: collect-iocs
      parameters:
      - name: streamId
        in: query
        description: The id of the stream you want to access. Make sure that you are URI encoding the streamId
        required: true
        schema:
          type: string
      - name: count
        in: query
        description: The number of articles/entries to return. Pick a number between 1 and 100 (optional, default is 20)
        schema:
          type: string
      - name: newerThan
        in: query
        description: Long timestamp in ms representing the time of your previous call (in Unix/Epoch). Cannot be older than 31 days ago. (optional)
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Ioc?
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
