{"openapi":"3.1.0","info":{"title":"Streams API","version":"1.0"},"servers":[{"url":"https://api.feedly.com/v3/streams/"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","x-default":"","name":"Authorization","x-bearer-format":"bearer"}}},"security":[{"sec0":[]}],"paths":{"/contents?":{"get":{"summary":"Collect articles from streamId","description":"","operationId":"collect-articles","parameters":[{"name":"streamID","in":"query","description":"The id of the stream you want to access. Make sure that you are URI encoding the streamId","required":true,"schema":{"type":"string"}},{"name":"count","in":"query","description":"The number of articles/entries to return. Pick a number between 1 and 100 (optional, default is 20)","schema":{"type":"string","default":"20"}},{"name":"newerThan","in":"query","description":"Long timestamp in ms representing the time of your previous call (in Unix/Epoch). Cannot be older than 31 days ago. (optional)","schema":{"type":"string"}},{"name":"olderThan","in":"query","description":"Long timestamp in ms representing the time of your previous call (in Unix/Epoch). (optional)","schema":{"type":"string"}},{"name":"continuation","in":"query","description":"An id is used to page through the articles. The continuation id will be returned as part of each call response. This is useful if you want to fetch more articles than the count = 100 limit (optional)","schema":{"type":"string"}},{"name":"includeAiActions","in":"query","description":"if true, AI Actions from articles will be returned.","schema":{"type":"boolean","default":true}},{"name":"similar","in":"query","description":"if true, numRelatedEntries will be returned","schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":" {\"errorMessage\":\"Invalid JSON\", \"errorId\":\"xyz.2018021111.12345\"}"}},"schema":{"type":"object","properties":{"errorMessage":{"type":"string","example":"Invalid JSON"},"errorId":{"type":"string","example":"xyz.2018021111.12345"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"errorCode\": 401,\n  \"requestId\": \"853eb1877eebc529-SEA\",\n  \"errorMessage\": \"must provide authorization token\"\n}"}},"schema":{"type":"object","properties":{"errorCode":{"type":"integer","example":401,"default":0},"requestId":{"type":"string","example":"853eb1877eebc529-SEA"},"errorMessage":{"type":"string","example":"must provide authorization token"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"errorCode\": 403,\n  \"requestId\": \"854333815f54c4d4-SEA\",\n  \"errorMessage\": \"unauthorized access: enterprise collection\"\n}"}},"schema":{"type":"object","properties":{"errorCode":{"type":"integer","example":403,"default":0},"requestId":{"type":"string","example":"854333815f54c4d4-SEA"},"errorMessage":{"type":"string","example":"unauthorized access: enterprise collection"}}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}