{"openapi":"3.1.0","info":{"title":"Tags API","version":"1.0"},"servers":[{"url":"https://api.feedly.com/v3/tags/"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"Authorization","x-bearer-format":"bearer"}}},"security":[{"sec0":[]}],"paths":{"/{streamId}":{"put":{"summary":"Add articles to board","description":"Add articleIds to team board","operationId":"add-articles-to-board","parameters":[{"name":"streamId","in":"path","description":"The streamId of your Team Board (Must be URL encoded)","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"RAW_BODY":{"type":"string","description":"Example JSON Body: {   \"entryId\": \"gRtwnDeqCDpZ42bXE9Sp7dNhm4R6NsipqFVbXn2XpDA=_13fb9d6f274:2ac9c5:f5718180\" }","format":"json"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{null}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"errorCode\": 400,\n  \"requestId\": \"99532293cf65ef8c-PDX\",\n  \"errorMessage\": \"invalid tag\"\n}"}},"schema":{"type":"object","properties":{"errorCode":{"type":"integer","example":400,"default":0},"requestId":{"type":"string","example":"99532293cf65ef8c-PDX"},"errorMessage":{"type":"string","example":"invalid tag"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{Forbidden}"}}}}}},"deprecated":false}},"/{streamId}/{entryId}":{"delete":{"summary":"Delete article from Board","description":"Remove an article from a team board by its entry ID.","operationId":"delete-article-from-board","parameters":[{"name":"streamId","in":"path","description":"Must be URL encoded.  The board's stream ID. Format: enterprise/{enterpriseName}/tag/{boardId}","schema":{"type":"string"},"required":true},{"name":"entryId","in":"path","description":"The article entry ID to remove from the board","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}