{"openapi":"3.1.0","info":{"title":"Entities API","version":"1.0"},"servers":[{"url":"https://api.feedly.com/v3/entities"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"Authorization","x-bearer-format":"bearer"}}},"security":[{"sec0":[]}],"paths":{"/{CVEID}":{"get":{"summary":"Get CVE Metadata with or without Articles","description":"Research critical vulnerabilities with the CVE Insights Card","operationId":"cve-insights-card","parameters":[{"name":"withStats","in":"query","description":"You can add a parameter query withStats=true to the previous endpoint to get access to the References and Chatter articles. The previous data will also be included.","schema":{"type":"boolean"}},{"name":"CVEID","in":"path","schema":{"type":"string","default":"CVE-2021-26084"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/.mget":{"post":{"summary":"Get CVE Metadata on Multiple CVEs","description":"","operationId":"get-multiple-cves","parameters":[{"name":"withStats","in":"query","description":"You can add a parameter query withStats=true to the previous endpoint to get access to the References and Chatter articles. The previous data will also be included.","schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["RAW_BODY"],"properties":{"RAW_BODY":{"type":"string","description":"Paste a list of CVEs (limited to 100)","default":"[\"CVE-2021-26084\", \"CVE-2021-22005\"]","format":"json"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/{malwareId}":{"get":{"summary":"Get Malware Metadata","description":"A GET request to the following endpoint can retrieve some of the meta-data contained in the Malware Insights Card, including the `description`,  `label`, `aliases`, `malware type`and more.","operationId":"get-malware-metadata","parameters":[{"name":"malwareId","in":"path","description":"ID of the malware family","schema":{"type":"string","default":"nlp/f/entity/gz:mal:fd035735-1ab9-419d-a94c-d560612e970b"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/{entityId}":{"get":{"summary":"Entity Lookup","description":"","operationId":"entity-lookup","parameters":[{"name":"entityId","in":"path","description":"(Must be URL encoded)","schema":{"type":"string","default":"nlp%2Ff%2Fentity%2Fgz%3Aorg%3Aapple"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/{threatActorId}":{"get":{"summary":"Get Threat Actor Metadata","description":"Retrieves metadata and details about a specific threat actor.","operationId":"get-threat-actor-metadata","parameters":[{"name":"threatActorId","in":"path","description":"The ID of the threat actor (URL encoded)","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/{resourceId}":{"get":{"summary":"Metadata","description":"Retrieves metadata and details about a specific company","operationId":"company-metadata","parameters":[{"name":"resourceId","in":"path","description":"The resourceId of the company (must be URL encoded)","schema":{"type":"string","default":"nlp%2Ff%2Fentity%2Fgz%3Aorg%3Aopenai"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}